<h>Add Videos</h>
<p>Video adding box will come here, eventually...</p>

<form action="/youtube/video/" method="post">
    Select the file to upload: <input type="file" name="video">
    <input type="submit">
</form>

<a href="/youtube/">Back to previous page</a>
<a href="/logout">Log out</a>