<h>Find or Add if not found Playlist</h>
<p>Returns a playlist ID or creates the playlist if not existing</p>

<form action="/youtube/playlists/find/" method="post">
    Give the playlist name to search for <input type=search name="playlistName">
    <input type="submit">
</form>

<a href="/youtube/">Back to previous page</a>
<a href="/logout">Log out</a>