<h>Youtube site</h>
<p>Select what functions you want to test out</p>
<a href="/youtube/playlists">My Playlist</a>
</br>
<a href="/youtube/playlist/videos">Videos in my playlist</a>
</br>
<a href="/youtube/playlists/find">Find specific playlist or create if not exists</a>
</br>
<a href="/youtube/videos/add">Add video to playlist</a>
</br>
<a href="/youtube/upload">Upload test</a>
</br>
<a href="/logout">Log out</a>