<h>Youtube site</h>
<p>Select what functions you want to test out</p>
<a href="/youtube/playlists">My Playlist</a>
<a href="youtube/playlist/videos">Videos in my playlist</a>
<a href="/logout">Log out</a>